@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.875rem;
}
img {
  max-width: 100%;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
#header {
  margin-top: 60px;
  text-align: left;
}
.site_title {
  width: 160px;
  line-height: 1px;
  margin-bottom: 15px;
}

.section_box {
  margin-top: 60px;
  background-color: #fff;
}

.section_box .inner {
  padding: 38px;
  margin: 0 auto;
  width: 600px;
}

.section_box .title {
  font-size: 18px;
  margin-bottom: 5px;
}

.section_box ul li {
  list-style: none;
  font-size: 14px;
  line-height: 2.8rem;
}