@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.875rem;
}
img {
  max-width: 100%;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
#header {
  margin-top: 60px;
}
